# Resource Ids (for ex: /subscriptions/xxxxxx/resourceGroups/xxx/providers/Microsoft.Network/networkManagers/xxxxx/ipamPools/xxxx) of your IP address pool resources
CLIENT_DEV_IPAM_RESOURCE_ID=""
CLIENT_PRD_IPAM_RESOURCE_ID=""

TENANT_ID=""
REGION=""

BILLING_SCOPE="" # ex: /providers/Microsoft.Billing/billingAccounts/xxxxxxxxxxxx:xxxxxxxxxxxxx/billingProfiles/xxxxxx/invoiceSections/xxxxxxxxxx
CLIENT_PROJ_MGMT_GROUP_ID="" # This is the id of the management group you want to store all project subscriptions under
TEST_SUBSCRIPTION_ID="" # In case you don't wan't to create new subscriptions using the Base template

# Service Principal credentials for the authenticating against azure to provision resources and entra objects.
# Must have application type graph api permissions for: Group.Create, Group.ReadWrite.All, User.Read.All
PULUMI_SP_CLIENT_ID=""
PULUMI_SP_CLIENT_SECRET=""

PULUMI_AZUREAD_PROVIDER_VERSION=""
PULUMI_AZURENATIVE_PROVIDER_VERSION=""